#studentsCon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0rem;
}

#headerConSS {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    /* width: 40%; */
    margin-bottom: 1rem;
}

#titleConSS {
    padding: 1rem;
}

#titleSS {

}

#searchConSS {
    padding: 1rem;
}

#searchInputSS {
    /* height: 4rem; */
    font-size: larger;
    border: none;
    border-radius: .3rem;
    font-family: 'Roboto Flex';
}

#tableConSS {
    padding: 1rem;
}

#tableSS {
    table-layout: fixed;
    border-collapse: collapse;
    height: max-content;
    border-top: 1.5px solid black;
    border-bottom: 1px solid black;
}

.tableCellSS {
    background-color: white;
    text-align: center;
    min-width: 7rem;
    border-top: 1px solid #00000076;
    border-bottom: 1px solid #00000076;
    transition: background-color .2s;
    
}

#tableHeadSS {

}

.tableHeadRowSS {

}


.tableHeadCellSS {
    border-bottom: 1.5px solid #000000;
    font-family: 'BalsamiqSans';
    font-weight: bold;
}

#tableBodySS {

}

.tableBodyRowSS {
}

.tableBodyCellSS {
    cursor: pointer;
}

.cellHighlightSS {
    background-color: #ffffff69;
    transition: background-color .2s;
}

@media (max-width:600px) {
    #headerConSS {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        /* width: 40%; */
        margin-bottom: 1rem;
    }
}









